body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f8d7da,#fde2e4,#fff1f2);
    font-family:'Shadows Into Light Two',cursive;
}

/* CENTER SCENE */
.scene{
    perspective:1500px;
}

/* CARD */
.card{
    width:850px;
    height:520px;
    position:relative;
    transform-style:preserve-3d;
    transition:1s;
}

/* OPEN STATE */
.card.open{
    transform:rotateY(-180deg);
}

/* FRONT COVER */
.front,
.inside{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:20px;
    backface-visibility:hidden;
    box-shadow:0 20px 60px rgba(0,0,0,.2);
}

/* FRONT */
.front{
    background:#176b6b;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.title{
    width:250px;
}

.octo{
    width:200px;
    animation:float 3s ease-in-out infinite;
}

.front p{
    font-size:20px;
}

/* FLOAT */
@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-12px);}
    100%{transform:translateY(0);}
}

/* INSIDE LETTER */
.inside{
    background:
    repeating-linear-gradient(
        white,
        white 28px,
        #ececec 29px
    );
    padding:40px;
    transform:rotateY(180deg);
}

.inside h2{
    margin-top:0;
}

.inside p{
    line-height:1.7;
    font-size:18px;
}

.inside a{
    text-decoration:none;
    color:#e63946;
    font-weight:bold;
}

.inside h3{
    text-align:right;
}